.footer_main {
  height: 20vh;
  max-height: 120px;
  min-height: 100px;
  background-color: var(--bg-navbar);
  margin-top: 5vh;
}
.footer_main ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}
.footer_main a:hover {
  text-decoration-color: var(--text-primary);
}
