.contact_us_main {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.staff_main {
  display: flex;
}
.staff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.description img {
  height: 40vh;
  border-radius: 14px;
}
.description img:hover {
  opacity: 0.8;
}
