.videoframe-container {
  display: flex;
  margin-top: 2vh;
  border-radius: 20px;
  justify-content: center;
  flex-direction: row;
  width: 95%;
  padding: 2vw;
  max-height: 50vh;
  background-color: var(--bg-navbar);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.slide {
  align-items: center;
  opacity: 0;
  transition: 1s ease-in-out;
}
.slide.active {
  color: white;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: transparent;
}

.title-desc-image {
  width: 30%;
  padding: 5px 40px;
  overflow-y: auto;
}

.video-container {
  width: 65%;
  padding: 5px 0px;
}

.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 10px;
  cursor: pointer;
}

.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 10px;
  cursor: pointer;
}

#arrow {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 1280px) {
  /* For Tablet 1024 px phones: */

  .videoframe-container {
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
  }

  .image-box {
    display: none;
  }

  #arrow {
    display: none;
  }

  .title-desc-image {
    width: 80%;
    padding: 5px 40px;
  }
}

@media only screen and (max-width: 500px) {
  .title-desc-image {
    width: 100%;
  }

  .video-container {
    width: 100%;
  }
}
