.backTop_main {
  position: fixed;
  right: 20vw;
  bottom: 5vh;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.6s;
  z-index: 100;
}
.backTop_main:hover {
  transform: translateY(-14px);
  opacity: 1;
}
.backTop_main:hover #backTop_text {
  opacity: 1;
}

.backTop_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backTop_button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: thistle;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
/* .backTop_button img {
  max-width: 100%;
  max-height: 100%;
} */

#backTop_text {
  opacity: 0;
  transition: 0.6s;
}
