.card {
  background-color: var(--bg-card);
  width: 200px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 4px 5px var(--shadow-card);
}

.card img {
  width: 200px;
  padding: 3px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
}

.footer {
  height: 30px;
  padding: 6px;
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
}

.heartBtn {
  width: 15px;
  height: 15px;
}

#heartImg {
  width: 20px;
  height: 20px;
}

#heartImg.active {
  width: 20px;
  height: 20px;
}
