:root {
  --bg-primary: #292f41;
  --bg-navbar: #242935;
  --bg-card: #495870;
  --bg-cardHolder: #353c52;
  --text-primary: #edecec;
  --shadow-card: #232635;
}

* {
  color: var(--text-primary);
}

.Toastify__toast-body {
  color: var(--bg-holder);
}
