:root {
  --bg-primary: #292f41;
  --bg-navbar: #242935;
  --bg-card: #495870;
  --bg-cardHolder: #353c52;
  --bg-video: #000000c5;
  --text-primary: #edecec;
  --shadow-card: #232635;
}

:is(h1, h2, h3, h4, h5, h6, p, a, li, i, div) {
  color: var(--text-primary);
}

.Toastify__toast-body {
  color: var(--bg-holder);
}
