.logo {
  height: 4vw;
  min-height: 40px;
  cursor: pointer;
}

nav {
  background-color: var(--bg-navbar);
}

ul {
  padding: 0 4vw;
  height: 14vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

nav li {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .triangle {
  position: absolute;
  top: 0;
  opacity: 0;
}

nav a {
  color: white;
}
nav a:hover {
  color: white;
  list-style: none;
  text-decoration: none;
}
nav ul li:hover .triangle {
  opacity: 1;
}

.small {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.menu {
  height: 50vh;
  width: 30vw;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: right;
  z-index: 1000;
}
.menu p {
  color: black;
}

.triangle {
  margin-bottom: 0;
  /* text-indent: -9999px; */
  border-right: 40px solid transparent;
  border-top: 26px solid #40454d;
  border-left: 40px solid transparent;
  transition: 0.2s;
}
