.logo {
  height: 4vw;
  min-height: 40px;
  cursor: pointer;
}

ul {
  padding: 4vw;
  height: 14vh;
  background-color: var(--bg-navbar);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

nav ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
}
nav ul li a:hover {
  color: white;
  list-style: none;
  text-decoration: none;
}
.small {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.menu {
  height: 50vh;
  width: 30vw;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.menu p {
  color: black;
}
