.cardHolder-body {
  background-color: var(--bg-cardHolder);
  overflow: hidden;
  margin: 2vw;
  border-radius: 20px;
  padding: 1vw;
  color: white;
  /* width: 70vw; */
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  justify-items: center;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: cadetblue !important;
  min-height: 20vw;
}

@media only screen and (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
