.main {
  height: 100%;
}

.overlayBody {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
}
.overlayBody button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 0px 16px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease;
}
.overlayBody button img {
  height: 30px;
  width: auto;
}
.overlayBody button:hover {
  scale: 1.1;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transition600 {
  transition: 0.6s;
}

#heartBtn img {
  transition: 1s;
}
