.full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.overlay-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70%;
  border-radius: 12px;
}
.overlay-body button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 0px 16px;
  border: none;
  cursor: pointer;
}
.overlay-body button img {
  height: 30px;
  width: auto;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transition600 {
  transition: 0.6s;
}

/* .quick-read {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  z-index: 1;
} */
.active {
  background-color: seagreen;
  position: absolute;
  bottom: 0;
  align-items: flex-start;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.MuiRating-label {
  z-index: 0;
}

#heartBtn img {
  transition: 1s;
}
