.cardHolder-body {
  background-color: var(--bg-cardHolder);
  overflow: hidden;
  margin: 2vw;
  border-radius: 20px;
  padding: 1vw;
}

.cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
