.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.overlayBody {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70%;
  border-radius: 12px;
}
.overlayBody button {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin: 0px 0.6em;
  border: none;
  cursor: pointer;
  transition: 0.1s ease;
}
.overlayBody button img {
  height: 26px;
  width: auto;
}
.overlayBody button:hover {
  scale: 1.1;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transition600 {
  transition: 0.6s;
}

.quickRead {
  position: absolute;
  bottom: 0;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#heartBtn img {
  transition: 1s;
}
