.main {
  position: relative;
  background-color: var(--bg-card);
  width: 200px;
  border-radius: 12px;
  margin: 20px;
  transition: 0.6s;
  box-shadow: 4px 5px var(--shadow-card);
}
.main:hover .body {
  filter: blur(2px);
  opacity: 0.4;
}
.main:hover #hiddenOverlay {
  display: block;
}

.body {
  transition: 0.6s;
}
.body img {
  width: 200px;
  padding: 4px;
  border-radius: 12px 12px 0px 0px;
  display: flex;
  justify-content: center;
}
.body footer {
  height: 42px;
  padding: 6px;
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
}
.body footer .left {
  max-width: 40%;
  overflow: hidden;
}
.body footer .right {
  max-width: 40%;
  display: flex;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 10px;
}

.hidden {
  opacity: 0;
}

#hiddenOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#heartImg {
  height: 20px;
  width: auto;
  pointer-events: auto;
}

#menuImg {
  height: 20px;
  width: auto;
}
