.quick-read {
  border-radius: 10px;
  height: 0;
  display: flex;
  align-items: flex-end;
}

.active {
  background-color: var(--bg-card);
  width: 100%;
  height: 100%;
  transition: height 1s;
  align-items: flex-start;
  flex-direction: column;
}

.scroll {
  margin: 1px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: dark;
}

article p {
  font-size: 0.8em;
}

.icon-close {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transform: translateY(-14px);
}
.icon-close:hover #qrIcon {
  transform: translateY(14px);
}
.icon-close:hover #qrText {
  transform: translateY(14px);
  opacity: 1;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon:hover #qrIcon {
  transform: translateY(-14px);
}
.icon:hover #qrText {
  transform: translateY(-14px);
  opacity: 1;
}
.icon-holder {
  width: 100%;
  display: flex;
  justify-content: center;
}

#qrText {
  opacity: 0;
}

#qrIcon {
  margin-top: 2px;
  width: 20px;
}
