.quickRead {
  border-radius: 10px;
  height: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.active {
  background-color: var(--bg-card);
  width: 100%;
  height: 100%;
  transition: height 1s;
  align-items: flex-start;
  flex-direction: column;
}

.scroll {
  margin: 1px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: dark;
}
.scroll article {
  padding: 0 4px;
}
.scroll article p {
  font-size: 0.7em;
  line-height: 1.2;
}

.qrIconClose {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transform: translateY(-10px);
}
.qrIconClose:hover #qrIconClose {
  transform: translateY(10px);
}
.qrIconClose:hover #qrText {
  transform: translateY(10px);
  opacity: 1;
}

.transition600 {
  transition: 0.6s transform 0s;
}

.qrIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.qrIcon:hover #qrIcon {
  transform: translateY(-10px);
}
.qrIcon:hover #qrText {
  transform: translateY(-10px);
  opacity: 1;
}
.qrIconHolder {
  width: 100%;
  display: flex;
  justify-content: center;
}

#qrText {
  opacity: 0;
  margin-bottom: 0;
}

#qrIcon {
  width: 20px;
  color: var(--bg-primary);
}

#qrIconClose {
  width: 20px;
  color: var(--bg-primary);
}
