@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}

body {
  min-height: 100%;
}

.main_content {
  padding: 0 10vw;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-primary);
}

html {
  background-color: var(--bg-primary);
}

@media only screen and (max-width: 800px) {
  .body {
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .body {
    padding: 0;
  }
}
