* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
}

body {
  background-color: var(--bg-primary);
}

.body {
  padding: 0 10vw;
}

.App {
  height: 100vh;
  min-height: 100vh;
  background-color: var(--bg-primary);
}
